In [157]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [158]:
URL = "https://www.nrcs.usda.gov/wps/portal/nrcs/detail/national/home/?cid=nrcs143_013697"
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")

In [159]:
results = soup.find_all(class_='data')

In [161]:
ls = []
for i in results:
    x = i.find_all('tr')
    for j in x:
        ls.append(j.find_all('td'))

In [162]:
ls = ls[1:]

In [163]:
fips=[]
name = []
for i in range(len(ls)):
    fips.append(str(ls[i][0].contents) )
    name.append(str(ls[i][1].contents))

In [164]:
data = dict({'fips':fips ,'name' :name})

In [165]:
# data_transposed = zip(data)
df = pd.DataFrame(data)

In [166]:
df.head()

        fips         name
0  ['01001']  ['Autauga']
1  ['01003']  ['Baldwin']
2  ['01005']  ['Barbour']
3  ['01007']     ['Bibb']
4  ['01009']   ['Blount']

In [177]:
df.iloc[0]['name'].split('\'')[1]

'Autauga'

In [178]:
df['fips'] = df['fips'].apply(lambda x :int(x.split('\'')[1]))

In [180]:
df['name'] = df['name'].apply(lambda x :x.split('\'')[1])

In [181]:
df.head()

   fips     name
0  1001  Autauga
1  1003  Baldwin
2  1005  Barbour
3  1007     Bibb
4  1009   Blount

In [184]:
df.to_csv('D:/mid/fips.csv',index=False)